<div class="mx-5 ps-2 my-3 d-flex align-items-center">
  <h2>Tabela de Times: </h2><span class="ms-4" *ngIf="teamList.length == 0">não há times salvos</span>
</div>
<div *ngIf="teamList.length > 0" class="mx-5 border rounded-3 p-3 w-75">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="w-25 min-vw-25">
          Nome
        </th>
        <th>
          Jogadores
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of teamList">
        <td>
          {{team.name}}
        </td>
        <td>
          {{team.teamPlayers.join(', ')}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
